@charset "UTF-8";
/*--------------------------------
Media Queries
---------------------------------*/
@font-face {
  font-family: "Chicago";
  src: url("Chicago_Bold.woff") format("woff");
}

.sec {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  width: 78%;
  height: auto;
}

.mttl {
  font-size: 3rem;
  font-weight: bold;
}

@media (max-width: 899px) {
  .mttl {
    font-size: 2rem;
  }
}

.atc {
  font-family: Helvetica, "游ゴシック", "Yu Gothic", YuGothic, HiraKakuProN-W3, "メイリオ", Meiryo, sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Artifika', serif;
}

/*--------------------------------
  gnav
  ---------------------------------*/
@media (min-width: 900px) {
  .gnav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
  .gnav-list li {
    font-weight: bold;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    text-align: center;
    padding: 10px;
  }
  .gnav-list li:hover {
    font-weight: bolder;
  }
}

@media (max-width: 899px) {
  #wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: #333;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 2;
  }
  #wrapper nav ul li {
    display: block;
    padding: 20px 28px;
  }
  #wrapper nav ul li a {
    text-decoration: none;
    color: #ddd;
  }
  #wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  #wrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  #wrapper .btn-gnavi span:nth-child(1) {
    top: 0;
  }
  #wrapper .btn-gnavi span:nth-child(2) {
    top: 10px;
  }
  #wrapper .btn-gnavi span:nth-child(3) {
    top: 20px;
  }
  #wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  #wrapper .btn-gnavi.open span {
    background: #fff;
  }
  #wrapper .btn-gnavi.open span {
    width: 24px;
  }
  #wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666;
  }
  #wrapper .contents section:nth-child(odd) p {
    left: 10%;
  }
  #wrapper .contents section:nth-child(even) p {
    right: 10%;
  }
}

/*--------------------------------
  mainVisiual
  ---------------------------------*/
.mainVisual {
  height: 750px;
}

.hidden {
  opacity: 0;
}

.console-container {
  font-family: "krungthep", "Chicago", "Lato",'Artifika',sans-serif, serif;
  font-size: 4em;
  text-align: center;
  height: 200px;
  width: 100%;
  display: block;
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: px;
}

@media (max-width: 899px) {
  .console-container {
    font-size: 2em;
  }
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
  color: black;
}

/*--------------------------------
  Aboutセクション
  ---------------------------------*/
.about {
  height: auto;
  margin: 0 auto;
  padding-top: 70px;
}

.about-head {
  padding-top: 30px;
  padding-bottom: 80px;
  text-align: center;
}

@media (max-width: 899px) {
  .about-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-bottom: 50px;
  }
}

@media (min-width: 900px) {
  .about-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 899px) {
  .about-img1 {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 900px) {
  .about-img1 {
    width: auto;
    height: 320px;
    vertical-align: middle;
    margin-top: 50px;
  }
}

@media (max-width: 899px) {
  .about-img2 {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 900px) {
  .about-img2 {
    width: 50%;
    height: auto;
  }
}

@media (max-width: 899px) {
  .about-table {
    width: 100%;
    height: 450px;
    margin-top: 20px;
  }
}

@media (min-width: 900px) {
  .about-table {
    width: 90%;
    height: 450px;
  }
}

@media (max-width: 899px) {
  .about-table-item {
    height: 30px;
  }
}

@media (min-width: 900px) {
  .about-table-item {
    height: 50px;
  }
}

@media (max-width: 899px) {
  .about-table-head {
    text-align: center;
  }
}

@media (min-width: 900px) {
  .about-table-head {
    padding-right: 20px;
    width: auto;
    min-width: 70px;
    max-width: 145px;
    text-align: right;
  }
}

@media (max-width: 899px) {
  .about-table-body {
    text-align: center;
  }
}

@media (min-width: 900px) {
  .about-table-body {
    width: 345px;
    text-align: center;
  }
}

.about-btn-box {
  height: 100px;
  position: relative;
  padding-top: 50px;
}

.acd-check {
  display: none;
}

.acd-label {
  border: solid 2px #333;
  text-align: center;
  color: #333;
  background-color: #fff;
  display: block;
  margin: 30px auto 10px auto;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  font-family: "krungthep", "Chicago", "Lato",'Artifika',sans-serif, serif;
}

.acd-content {
  text-align: center;
  font-family:"krungthep", "Chicago", "Lato",'Artifika',sans-serif, serif;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: hidden;
}

.acd-content span {
  font-family: 'Artifika',"krungthep", "Chicago", "Lato",sans-serif, serif;
}

.acd-check:checked + .acd-label + .acd-content {
  background-color: #f0f0f0;
  height: auto;
  opacity: 1;
  padding: 10px;
  visibility: visible;
}

/*--------------------------------
  Worksセクション
  ---------------------------------*/
.works {
  margin: 0;
  padding-right: calc(50vw - 50%);
  padding-left: calc(50vw - 50%);
  color: #fff;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-color: #000;
  text-align: center;
  height: auto;
  margin-top: 200px;
}

.works-head {
  margin: 0 auto;
  padding: 30px;
}

.works-card {
  width: 30%;
  height: auto;
  padding: 30px;
}

@media (max-width: 899px) {
  .works-card {
    width: 100%;
    padding: 10px;
  }
}

.works-card a {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.works-img1 {
  width: 100%;
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 460px) {
  .works-img1 {
    max-height: 150px;
  }
}

.works-figcaption {
  margin-top: 20px;
}

.works-card-font {
  font-family: Helvetica, "游ゴシック", "Yu Gothic", YuGothic, HiraKakuProN-W3, "メイリオ", Meiryo, sans-serif;
  padding: 10px;
}

.tab-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #fff;
  display: block;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.tab-label {
  color: #000;
  background: #000;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tab-label:hover {
  background: #f0f0f0;
}

.tab-label:not(:last-of-type) {
  margin-right: 5px;
}

.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

@media (max-width: 460px) {
  .tab-content {
    width: 100%;
    padding: 10px;
  }
}

.tab-switch:checked + .tab-label {
  background: #fff;
}

.tab-switch:checked + .tab-label + .tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  -webkit-transition: .5s opacity;
  transition: .5s opacity;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.tab-switch {
  display: none;
}

.tab-switch:checked + .tab-label:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #fff;
  border-width: 14px;
  margin-left: -14px;
}

.tab-switch:checked + .tab-label {
  background: #fff;
  position: relative;
}

/*--------------------------------
  Skillセクション
  ---------------------------------*/
.skill {
  height: auto;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 100px;
}

@media (max-width: 460px) {
  .skill img {
    position: relative;
    top: 0;
    left: 10%;
  }
}

@media (max-width: 899px) {
  .skill img {
    position: relative;
    top: 0;
    left: 20%;
  }
}

@media (min-width: 900px) {
  .skill img {
    position: relative;
    top: 0;
    left: 30%;
  }
}

.skill-head {
  text-align: center;
}

@media (max-width: 899px) {
  .skill-list {
    margin-top: 100px;
  }
}

@media (min-width: 900px) {
  .skill-list {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 899px) {
  .skill-group {
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .skill-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 460px) {
  .skill-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 899px) {
  .skill-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
}

@media (min-width: 900px) {
  .skill-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 450px;
    margin: 30px auto;
  }
}

.skill-image-wrapper {
  min-width: 116px;
}

@media (max-width: 460px) {
  .skill-image-wrapper {
    padding: 0 auto;
    margin: 0 auto;
  }
}

@media (max-width: 899px) {
  .skill-image-wrapper {
    width: 30%;
  }
}

@media (min-width: 900px) {
  .skill-image-wrapper {
    position: relative;
    width: 65%;
  }
}

.skill-item-body {
  width: 100%;
}

.skill-item-body p {
  text-align: left;
  padding: 0 0 0.5rem 0;
}

@media (min-width: 900px) {
  .skill-item-body p {
    text-align: left;
    padding: 0 0 0.5rem 1rem;
  }
}

.skill-item-title {
  text-align: left;
  padding: 0 0 0.5rem 0;
}

@media (max-width: 460px) {
  .skill-item-title {
    text-align: center;
  }
}

@media (min-width: 900px) {
  .skill-item-title {
    padding: 0 0 0.5rem 1rem;
  }
}

@media (max-width: 460px) {
  .skill-item-rating {
    text-align: center;
  }
}

@media (min-width: 900px) {
  .skill-item-rating {
    text-align: left;
    padding: 0 0 0.5rem 1rem;
  }
}

.skill .rate {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 100px;
  height: 20px;
  letter-spacing: 0.3em;
}

@media (max-width: 460px) {
  .skill .rate {
    margin: 0 auto;
  }
}

.skill .rate:before,
.skill .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  content: "★★★★★";
}

.skill .rate:before {
  color: #f0f0f0;
}

.skill .rate:after {
  overflow: hidden;
  white-space: nowrap;
  color: #f181b4;
}

.skill .rate1:after {
  width: 20px;
}

.skill .rate2:after {
  width: 40px;
}

.skill .rate3:after {
  width: 60px;
}

.skill .rate4:after {
  width: 80px;
}

.skill .rate5:after {
  width: 100px;
}

/*--------------------------------
  Galleryセクション
  ---------------------------------*/
.gallery {
  color: #fff;
  width: 100vw;
  height: auto;
  margin-left: calc(50% - 50vw);
  background-color: #000;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 10vh;
}

.gallery-head {
  text-align: center;
  padding-bottom: 5vh;
}

.slider2 {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin: 30px 0;
}

.slides2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-points-x: repeat(300px);
      scroll-snap-points-x: repeat(300px);
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
}

.slides2::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides2::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

.slides2::-webkit-scrollbar-track {
  background: transparent;
}

.slides2 > div {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 50vw;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 100px;
}

.slides2 > div:target {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.author-info2 {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.author-info2 a {
  color: white;
}

.slider2 img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider2 > a {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.slider2 > a:active {
  top: 1px;
}

.slider2 > a:focus {
  background: #000;
}

/* Don't need button navigation */
/*--------------------------------
  Contactセクション
  ---------------------------------*/
.contact {
  margin-top: 30px;
}

.contact-head {
  margin-bottom: 5vh;
}

.contact img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.contact h2 {
  text-align: center;
}

.contact-ttlcaption {
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
}

@media (max-width: 460px) {
  .contact-ttlcaption {
    font-size: 16px;
  }
}

.contact-iconBox {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

#pagetop {
  height: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
}

#pagetop.fixed {
  height: auto;
  opacity: .7;
  visibility: visible;
}

.pagetop {
  position: fixed;
  bottom: 30px;
  right: 15px;
}

.pagetop a {
  display: block;
  background-color: #ccc;
  text-align: center;
  color: #222;
  font-size: 12px;
  text-decoration: none;
  padding: 5px 10px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.pagetop a:hover {
  display: block;
  background-color: #b2d1fb;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  padding: 5px 10px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */
