@charset "UTF-8";
@import "variable";
body {
  overflow-x: hidden;
}

.pagetop {

  // display: none;
  position: fixed;
  bottom: 30px;
  right: 15px;

  & a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
  }

  & a:hover {
    display: block;
    background-color: #b2d1fb;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding:5px 10px;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
}
/*--------------------------------
fontstyle
---------------------------------*/

.sec {

  &-ttl {
    font-family: $font_EN;
    font-size: 3rem;
    font-weight: bold;

  }

  &-body {
    font-family: $font_JA;
  }

}

.card-ttl {
  font-family: $font_JA;
  padding-top: 10px;
}

/*----------------------------
box
---------------------------------*/
.container{
  position: relative;
  width: 100%;
  height: auto;
}

.section {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.inner {
    margin: 0 auto;
    width: 78%;
}

/*--------------------------------
gnav
---------------------------------*/
.gnav {

  &-list {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }

  &-list li {
    font-family: $font_EN;
    font-weight: bold;
    flex: auto;
    text-align: center;
    padding: 10px;
  }
  &-list li:hover{
    font-weight: bolder;
  }

}



/*--------------------------------
メインビジュアル
---------------------------------*/
.mainVisual {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 270px;
  padding-bottom: 270px;
}

/*--------------------------------
logo
---------------------------------*/
.Logo {

  &-primary {
    font-family: $font_EN;
    font-size: 4rem;
    margin: 0 auto;
    text-align: center;
  }

  &-sub {
    font-family: $font_EN;
    margin: 0 auto;
    width: 20rem;
    text-align: center;
    letter-spacing: 10px;
    font-weight: bold;
  }

}
/*--------------------------------
Aboutセクション
---------------------------------*/
.about {

  height: auto;
  margin: 0 auto;
  padding-top: 70px;

  &-head {
    padding-top: 30px;
    padding-bottom: 100px;
    text-align: center;
  }

  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
  }

  &-img1 {
    width: 60%;
    height: 60%;
  }
  &-img2 {
    width: 50%;
    height: 50%;
  }


  &-table {
    width: 35%;
    height: auto;
  }

  &-table-head {
    padding-top: 20px;
    text-align: center;
    width: 15%;
  }

  &-table-body {
    padding-top: 20px;
    text-align: center;
  }

  &-btn-box {
    height: 100px;
    position: relative;
    padding-top: 50px;
  }


}
// アコーディオン
.acd{

  &-check{
  display: none;

  }

  &-label{

    border: solid 2px $color_2;
    text-align: center;
    color: $color_2;
    background: $color_3;
    display: block;
    margin: 10px auto 1px auto;
    padding: 10px;
    font-weight: bold;
    width: 100%;
    font-family: $font_EN;

  }

  &-content{
    text-align: center;

    font-family: $font_EN;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;

    span {
      font-family: $font_EN;
    }

  }

  &-check:checked + .acd-label + .acd-content{
    background-color: $color_4;
    height: auto;
    opacity: 1;
    padding: 10px;
    visibility: visible;

  }

}

/*--------------------------------
Worksセクション
---------------------------------*/
.works {
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
  color: $color_3;
  background-color: $color_2;
  text-align: center;
  height: auto;
  margin-top: 200px;

  &-head {
    margin: 0 auto;
    padding: 30px;
  }

  &-card-img1 {
    width: 100%;
    height: auto;
    padding: 40px;
  }

  &-img1 {
    width: 100%;
    height: auto;
  }

  &-figcaption {
    margin-top: 20px;
  }

  &-card-font {
    font-family: $font_JA;
    padding: 10px;
  }

}







/*--------------------------------
Skillセクション
---------------------------------*/
.skill {

  height: auto;
  margin: 0 auto;
  padding-top: 150px;

  & img {
    width: 70px;
    height: 75px;
    position: absolute;
    top:0;
    left:30%

  }

  &-head {
    text-align: center;
  }

  &-list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }

  &-group {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }

  &-item {
    display: flex;
    margin: 0 auto;
    padding-left: 20px;
    padding-bottom: 100px;
    width: 450px;
  }

  &-image-wrapper {
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
  }

  &-item-body {
    width: 100%;

    p {
      text-align: left;
      padding: 0 0 0.5rem 1rem;
    }
  }

  &-item-title {
    text-align: left;
    padding: 0 0 0.5rem 1rem;
  }

  &-item-rating {
    text-align: left;
    padding: 0 0 0.5rem 1rem;
  }

  & .rate {
    position: relative;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    height: 20px;
    letter-spacing: 0.3em;
  }

  & .rate:before,
  & .rate:after {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    display: inline-block;
    height: 20px;
    content: "★★★★★";
  }

  & .rate:before {
    color: $color_4;
  }

  & .rate:after {
    overflow: hidden;
    white-space: nowrap;
    color: $color_5;
  }

  & .rate1:after {
    width: 20px;
  }

  & .rate2:after {
    width: 40px;
  }

  & .rate3:after {
    width: 60px;
  }

  & .rate4:after {
    width: 80px;
  }

  & .rate5:after {
    width: 100px;
  }

}


/*--------------------------------
Contactセクション
---------------------------------*/
.contact{

  & img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }

  & h2 {
    text-align: center;
  }

  &-ttlcaption{
    padding-top: 30px;
    text-align: center;
  }

  &-iconBox {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }
}
